streamlit>=1.45.1
python-docx>=0.8.11
pdfkit==1.0.0
PyPDF2>=3.0.1
pdfplumber>=0.10.3
python-dateutil==2.8.2
wkhtmltopdf>=0.2.0
sqlalchemy>=2.0.27
psycopg2-binary>=2.9.9
alembic>=1.13.1
google-generativeai>=0.3.2
spacy>=3.7.4
scikit-learn>=1.4.0
pandas>=2.2.0
numpy>=1.26.3
plotly>=5.19.0
python-dotenv>=1.0.1

# after installing packages, run this command to download the spacy model
python -m spacy download en_core_web_lg